<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title></title>
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.js"></script>
</head>
<body>
  <div id="app">
    <table>
      <tr>
        <td>翻訳元</td>
        <td>
          <select v-model="source">
            <option v-for="op in Object.keys(options)" :value="op">{{options[op]}}</option>
          </select>
        </td>
        <td>翻訳先</td>
        <td>
          <select v-model="target">
            <option v-for="op in Object.keys(options)" :value="op">{{options[op]}}</option>
          </select>
        </td>
      </tr>
    </table>
    <textarea v-model="input" id="" name="" cols="30" rows="10"></textarea>
    <button @click="translate">translate</button>
    <hr>
    <p v-for="out in output">{{out}}</p>
  </div>
  <script src="index.js"></script>
</body>
</html>
